-- 1. Create the database only if it does not already exist
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'ExpenseTrackerDB')
BEGIN
    CREATE DATABASE [ExpenseTrackerDB];
END
GO

-- 2. Switch to the newly created database
USE [ExpenseTrackerDB]
GO

/****** Object:  Table [dbo].[Categories] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
    [CategoryID] [int] IDENTITY(1,1) NOT NULL,
    [CategoryName] [varchar](50) NOT NULL,
    [Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
    [CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DeletedExpensesLog] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedExpensesLog](
    [LogID] [int] IDENTITY(1,1) NOT NULL,
    [ExpenseID] [int] NULL,
    [Amount] [decimal](10, 2) NULL,
    [DeletedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
    [LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Expenses] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
    [ExpenseID] [int] IDENTITY(1,1) NOT NULL,
    [Amount] [decimal](10, 2) NOT NULL,
    [ExpenseDate] [date] NOT NULL,
    [Description] [varchar](200) NULL,
    [CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Add Default Constraints and Foreign Keys
ALTER TABLE [dbo].[DeletedExpensesLog] ADD  DEFAULT (getdate()) FOR [DeletedDate]
GO

ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expense_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO

ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expense_Category]
GO

/****** Object:  StoredProcedure [dbo].[sp_AddNewExpense] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Insert a new expense record into the database
CREATE PROCEDURE [dbo].[sp_AddNewExpense]
    @Amount DECIMAL(10,2),
    @ExpenseDate DATE,
    @Description VARCHAR(200),
    @CategoryID INT
AS
BEGIN
    INSERT INTO Expenses (Amount, ExpenseDate, Description, CategoryID)
    VALUES (@Amount, @ExpenseDate, @Description, @CategoryID);
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_GetExpensesByDateRange] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Retrieve all expenses within a specified date range (Date Range Report)
CREATE PROCEDURE [dbo].[sp_GetExpensesByDateRange]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        e.ExpenseID,
        e.ExpenseDate,
        c.CategoryName,
        e.Amount,
        e.Description
    FROM Expenses e
    JOIN Categories c ON e.CategoryID = c.CategoryID
    WHERE e.ExpenseDate BETWEEN @StartDate AND @EndDate
    ORDER BY e.ExpenseDate DESC;
END;
GO